@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    /* font-family: 'Playfair Display', serif; */
    font-family: 'Roboto', sans-serif;

}

.section-heading {
    font-family: 'Playfair Display', serif;

}




/* section {
    scroll-padding-top: 4rem;
} */