@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


.home-screen-buttons {
    margin-top: 20px;
}

.home-screen-buttons a {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
    padding: 20px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 10px;

    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bolder;
    border-color: 0px solid red;

}

.home-screen-buttons a:hover {
    background-color: #008CBA;
    color: white;
}

.heading-txt {
    font-weight: bold;
    font-family: 'Playfair Display', serif;
    cursor: pointer;
}

.my-name {
    cursor: pointer;
}

.homeScreen-root-element {
    margin-top: 150px;
    text-align: center;
    padding: 40px;
}

.img-frame {
    height: 250px;
    width: 250px;
    box-shadow: -36px 35px 0px -24px #FF7C7C;
    margin-bottom: 20px;
}

.home-screen-social-media-icon {

    font-size: 40px;
    position: absolute;
    left: 10%;
}

.home-screen-social-media-icon div {
    height: 40px;

}

.home-screen-social-media-icon div a {
    color: inherit;
    text-decoration: none;
}

.home-screen-scroll-down div {
    margin-top: 55px;
    font-weight: bold;
    position: absolute;
    right: 10%;
    transform: rotate(90deg);
}


@media only screen and (max-width: 425px) {

    .home-screen-buttons a {
        width: 100%;
    }

    .home-screen-scroll-down {
        
        display: none;
    }

    .home-screen-social-media-icon {
        display: flex;
        
    }
    .home-screen-social-media-icon div {
        margin-left: 40px;
        font-size: 50px;

    }



}