.about-me-root-element h3 {
    text-align: center;

}

.about-me-root-element p {
    margin: 0;
    font-size: 14px;
}

.about-me-elements {
    justify-content: center;
    display: flex;
}

.about-me-elements div {
    margin: 50px;
}

.about-me-experience-frame {
    display: flex;
}

.about-me-experience-frame div {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
    margin: 5px;
    width: 200px;
    height: 150px;
    text-align: center;
    font-size: 15px;
    transition-duration: 0.4s;
    border-radius: 5px;
}


.about-icons-class {
    font-size: 25px;
    margin: 0%;
}

.github-link-icon {
    font-size: 40px;
    margin-top: 30px;
    color: black;
    margin: 0;
}

.project-info1 {
    padding-top: 10px;

}

.project-info1:hover {
    padding-top: 0px;
    background-color: #008CBA;
    color: white;
}

.project-info2:hover {
    padding-top: 10px;
    background-color: #008CBA;
    color: white;
}

.about-me-root-element {
    padding: 40px;
}

.text-paragrph-about-me {
    display: flex;
    justify-content: center;
}

.lets-talk-button {
    display: flex;
    justify-content: center;
}