.about-me-root-element h3 {
    text-align: center;

}

.heading-paragraph {
    font-size: 14px;
    margin: 0;
}


.about-me-elements {
    justify-content: center;
    display: flex;
}

.about-me-elements div {
    margin: 50px;
}

.about-me-experience-frame {
    display: flex;
    flex-direction: column;
}

.about-me-experience-frame div {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
    margin: 5px;
    width: 200px;
    height: 150px;
    text-align: center;
    font-size: 15px;
    transition-duration: 0.4s;
    border-radius: 5px;
}


.about-icons-class {
    font-size: 25px;
    margin: 0%;
}

.github-link-icon {
    font-size: 40px;
    margin-top: 30px;
    color: black;
    margin: 0;
}

.project-info1 {
    padding-top: 10px;

}

.project-info1:hover {
    padding-top: 0px;
    background-color: #008CBA;
    color: white;
}

.project-info2:hover {
    padding-top: 10px;
    background-color: #008CBA;
    color: white;
}

.about-me-root-element {
    background-color: whitesmoke;
    margin-top: 150px;

    padding: 40px;
}

.text-paragrph-about-me {
    display: flex;
    justify-content: center;
}




.lets-talk-button {
    display: flex;
    justify-content: center;
}

.img-frame-about {
    width: 300px;
    box-shadow: 36px -35px 0px -24px #7a98fa;
}

.about-me-text {
    border-radius: 15px;
    width: 60%;
    text-align: center;
    background-color: #6bd3f59a;
    padding: 30px;
    font-size: 17px;
}

.more {
    display: inline;
}

.nomore {
    display: none;
}

.readMore-btn {
    display: block;
    text-align: center;
    margin: auto;
    border: 0;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #008bba27;
}

.readMore-btn:hover {
    background-color: rgba(128, 128, 128, 0.295);
}


@media only screen and (max-width: 600px) {


    .about-me-elements {
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }

    .about-me-text {
        width: 100%;

        overflow: hidden;
        /* background: rgb(255, 255, 255);
        background: -moz-linear-gradient(0deg, rgba(255, 255, 255, 0.5329482134650736) 0%, rgba(107, 211, 245, 100) 100%);
        background: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0.5329482134650736) 0%, rgba(107, 211, 245, 100) 100%);
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.5329482134650736) 0%, rgba(107, 211, 245, 100) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#22c1c3", GradientType=1); */
    }

    .text-paragrph-about-me {
        display: flex;
        flex-direction: column;
    }




    .about-me-elements div {
        /* margin: 30px; */
        width: 100%;
    }

    .about-me-experience-frame  {
       
    }

    /* .project-info1 {
        width: 100%;
    } */

}