* {

    list-style: none;
}

.experience-root-element h2 p {
    margin: 0;
    font-size: 15px;
 
}

.experience-root-element h2 {
    text-align: center;
}

.experience-root-element {
    padding: 40px;
    z-index: 1;

}

.experience-skill-frame {
    display: flex;
    justify-content: center;
    /* font-weight:600; */


    /* border: 1px solid red; */
}

.experience-skill-frame h5 {
    margin-top: 20px;
    text-align: center;
    font-size: 25px;
}

.skills-square {
    background-color: whitesmoke;
    margin: 20px;
    height: 300px;
    width: 350px;
    border-radius: 10px;
    -webkit-box-shadow: 5px 3px 10px -1px #000000;
    box-shadow: 5px 3px 10px -1px #000000;

    /* border: 1px solid green; */

}


.skills-square div {
    display: flex;
}

.skills-square ul {
    margin-top: 20px;
}

.skills-square h5 {
    font-weight: bold;
}

.back-end-skills h5 {
    font-weight: bold;
}

.li-icon-class {
    color: #008CBA;
    font-size: 30px;
}

/* slider-css */

.slider-container {
    width: 500px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    overflow: hidden;
    border: 10px solid #ffffff;
    border-radius: 8px;
    box-shadow: -1px 5px 15px black;
}

